# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
/craft/storage/*
!/craft/storage/logo/*

craft/app/
craft/plugins/
craft/storage/
craft/config/db.php
craft/config/___remote_test
craft/config/__remote
craft/config/_original
