footer { 
	display: block; 
	color: #fff; 
	background: black; 
	text-align: center; 
	padding: 200px 50px;
  margin-bottom: 80%;
}

.footer_logo {
  max-width: 1000px;
}

.footer_vid  {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    min-width: none;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}