header { display: block; padding: 50px; box-sizing: border-box; }
header:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
header a { text-decoration: none; }
header h1 { float: left; margin: 0; font-weight: normal; font-size: 30px; line-height: 1; }
header nav { display: block; float: right; }
header nav ul { margin: 0; list-style-type: none; }
header nav ul li { float: left; margin-left: 20px; }
header nav ul li a { display: block; margin-top: 4px; line-height: 22px; }
header nav ul li a:hover,
header nav ul li a.active { }
header nav ul li a.active { cursor: default; }

.feature {
  margin-top: 800px;
}

.logo {
  position: fixed;
  z-index: 5;
  top: 200px;
  left: -200px;
  width: 350px;
  height: 350px;
  /*background-size: 50%;*/
  -webkit-animation:spin 40s linear infinite;
  -moz-animation:spin 40s linear infinite;
  animation:spin 40s linear infinite;
  background-image: url(../../img/roundandround.svg);
  background-image: -webkit-linear-gradient(transparent, transparent), url(../../img/roundandround.svg);
  background-image: -moz-linear-gradient(transparent, transparent), url(../../img/roundandround.svg);
  background-image: linear-gradient(transparent, transparent), url(../../img/roundandround.svg);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }