{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" {% includeCssFile siteUrl~'css/master.css' %}/>
</head>

<body>

	<video loop autoplay class='footer_vid'>
	  <source src="img/vid.mp4" type="video/mp4">
	</video>
	
	<a href="{{ siteUrl }}"><div class="logo"></div></a>
	<a class="navicon-button x js-slideout-toggle"><div class="navicon"></div></a>

	<nav id="menu" class="menu">
		<ul>	
			<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
			<li><a href="{{ url('casestudies') }}" {% if craft.request.firstSegment == 'casestudies' %}class="active"{% endif %}>Case Studies</a></li>
			<li><a href="{{ url('amenities') }}" {% if craft.request.firstSegment == 'amenities' %}class="active"{% endif %}>Amenities</a></li>
			<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
			<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
		</ul>
	</nav>

	<main id="panel" class="panel">
		<header>
			<!-- <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1> -->
<!-- 	    	<a class="navicon-button x js-slideout-toggle"><div class="navicon"></div></a>
 -->			<!-- <button class="btn-hamburger js-slideout-toggle"></button> -->
		</header>

		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}

		<footer>
	    <!-- <a href="{{ siteUrl }}"><div class="footer_logo"></div></a> -->
	    <img class="footer_logo" src="img/randr_logo.svg">
            <h6>
            	<a href="http://www.facebook.com/roundandround" class="fa fa-facebook fa-lg"></a>&nbsp;&nbsp;
            	<a href="http://www.twitter.com/roundandround" class="fa fa-twitter fa-lg"></a>&nbsp;&nbsp;
            	<a href="http://roundandroundandroundandroundand.tumblr.com/" target="_blank" class="fa fa-tumblr fa-lg"></a>&nbsp;&nbsp;
            	<a href="mailto:hello@roundandround.co" class="fa fa-envelope-o fa-lg"></a>&nbsp;&nbsp;

            	<!-- &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Built in Omaha</h6> -->
		</footer>
	</main>


	<script {% includeJsFile siteUrl~'js/slideout.js' %}></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script {% includeJsFile siteUrl~'js/index.js' %}></script>

	  <script src="js/lory.js"></script>
	  <script>
	      'use strict';

		    document.addEventListener('DOMContentLoaded', function () {
		        var multiSlides = document.querySelector('.js_multislides');

		        lory(multiSlides, {
		            infinite: 4,
		            slidesToScroll: 1
		        });
		    });
	  </script>

</body>
</html>
