{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<section>
<div class="container feature">
	<h1>{{ entry.title }}</h1>
</div>

<div class="gold">
	<div class="container">
		<h5>Round And Round is a collaborative workspace where independent creatives come together to work, learn, and enjoy their careers.</h5>
		<h5>Fellow makers in the middle of a city, thinking and making, sharing and collaborating.</h5>
		<h5>An environment meant to be iterative and efficient, with everything on wheels.</h5>
	</div>
</div>

</section>
<img src="img/our-studio.png">




<div class="container">
	<div class="row">
		<div class="four columns">
			<img src="img/vertical.png">
			<h2>Jake Welchert</h2>
			<h4>Brand / Web Design / Development</h4>
			<h5><a href="http://www.twitter.com/jakewelchert" target="blank">@jakewelchert</a></h5>
			<h5><a href="mailto:jake@roundandround.co">jake@roundandround.co</a></h5>
			<a href='http://www.dayshapes.com' target="blank"><button>See My Work</button></a>
		</div>

		<div class="four columns">
			<img src="img/vertical.png">
			<h2>Justin Kemerling</h2>
			<h4>Brand / Web / Product Design</h4>
			<h5><a href="http://www.twitter.com/justinkemerling" target="blank">@justinkemerling</a></h5>
			<h5><a href="mailto:justin@roundandround.co">justin@roundandround.co</a></h5>
			<a href='http://www.justinkemerling.com' target="blank"><button>See My Work</button></a>
		</div>

		<div class="four columns">
			<img src="img/vertical.png">
			<h2>Adam Casey</h2>
			<h4>Brand / Web / Photography</h4>
			<h5><a href="http://www.twitter.com/adamcasey" target="blank">@adamcasey</a></h5>
			<h5><a href="mailto:adam@roundandround.co">adam@roundandround.co</a></h5>
			<a href='http://www.adamcaseydesign.com' target="blank"><button>See My Work</button></a>
		</div>	
	</div>
</div>

<div class="darr">
&darr;
</div>


<div class="container">
<video autoplay loop>
    <source src="http://roundandround.co/vid/randr_preview.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
</video>
</div>

<h1>2015</h1>
<section>
	<div class="slider js_multislides multislides">
		<div class="frame js_frame">
		  <ul class="slides js_slides">
		      <li class="js_slide"><img src="img/week39.png"></li>
		      <li class="js_slide"><img src="img/week40.png"></li>
		      <li class="js_slide"><img src="img/week41.png"></li>
		      <li class="js_slide"><img src="img/week42.png"></li>
		      <li class="js_slide"><img src="img/week43.png"></li>
		      <li class="js_slide"><img src="img/week44.png"></li>
		      <li class="js_slide"><img src="img/week45.png"></li>
		      <li class="js_slide"><img src="img/week46.png"></li>
		      <li class="js_slide"><img src="img/week47.png"></li>
		      <li class="js_slide"><img src="img/week48.png"></li>
		      <li class="js_slide"><img src="img/week49.png"></li>
		      <li class="js_slide"><img src="img/week50.png"></li>
		  </ul>
		</div>

		<span class="js_prev prev">
		  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
		</span>
		<span class="js_next next">
		  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
		</span>
	<!-- <a href="#" class="arrow-holder left"><span class="arrow-icon left"></span></a> -->
	<!-- <a href="#" class="arrow-holder right"><span class="arrow-icon right"></span></a> -->
	</div>
</section>


<!-- 	{{ entry.body }}
	<div class='bigteaser'>
		{% for block in entry.bigteaser %}
			<div class="headline">
				{{ block.headline }}					
			</div>
			<div class='container'>
				{{ block.version }}
			</div>
			{{ block.slogan }}
			{{ block.number }}
		{% endfor %}
	</div>

	<div class='container'>
		{% for block in entry.imagesAndCopy %}
			{{ block.copyHere }}
			{{ block.dropdownHere }}
		{% endfor %}
	</div> -->
{% endblock %}
